{%extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}{{ title }} - Gestion des Marchés Publics{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{% url 'marche_list' %}" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i>
            Retour à la liste
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Informations du Decompte</h5>
            </div>
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>

{%endblock%}