{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - Gestion des Marchés Publics{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
 <h1 style="font-size: 20px; align-items: center; color:gray;">Détails du marché N°{{marche.numero}}</h1>
    </div>
    <div class="col-6">
        
     <div class="btn-toolbar mb-2 mb-md-0" style="float: right;">
        <a href="{% url 'marche_list' %}" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i>
            Retour à la liste
        </a>
    </div>
    </div>
</div>
   
<div class="row">
<div class="col-6">
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Référence</label>
        <input class="inp" type="text" disabled="true" value="{{marche.numero}}">

    </div>
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Montant  (DH) </label>
        <input class="inp" type="text" disabled="true" value="{{marche.montant}}">

    </div>
    {%if marche.montant_annual%}
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Montant Annuel  (DH) </label>
        <input class="inp" type="text" disabled="true" value="{{marche.montant_annual}}">

    </div>
    {%endif%}
     
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Date Signature </label>
        <input class="inp" type="date" disabled="true" value='{{marche.date_signature|date:"Y-m-d"}}'>

    </div>

    {%if marche.quantite%}
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Quantité </label>
        <input class="inp" type="text" disabled="true" value="{{marche.quantite}}">

    </div>
    {%endif%}
    
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Dete Fin </label>
        <input class="inp" type="date" disabled="true" value="{{marche.date_fin|date:'Y-m-d'}}">

    </div> 
    {%if marche.prix_unitaire%}
     <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Prix unitaitre (DH) </label>
        <input class="inp" type="text" disabled="true" value="{{marche.prix_unitaire}}">

    </div>
    {%endif%}
    
    
     <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Maitre d'ouvrage</label>
        <input class="inp" type="text" disabled="true" value="{{marche.maitre_ouvrage}}">

    </div>
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Prestataire</label>
        <input class="inp" type="text" disabled="true" value="{{marche.prestataire}}">

    </div>
</div>   
     

<div class="col-6">
   <div class="Form-group" style="margin-top: 15px;"> 
    <label class="labell">Objet de marché</label>
    <textarea class="inp" disabled rows="3" style="resize: vertical; overflow:auto;">{{marche.objet}}</textarea>
</div>

   <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Type </label>
        <input class="inp" type="text" disabled="true" value="{{marche.type}}">

    </div>
    
     <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Dete début </label>
        <input class="inp" type="date" disabled="true" value="{{marche.date_debut|date:'Y-m-d'}}">

    </div>
    
     <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Statut </label>
        <input class="inp" type="text" disabled="true" value="{{marche.statut}}">

    </div>
    {%if marche.periodicite%}
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >periodicite</label>
        <input class="inp" type="text" disabled="true" value="{{marche.periodicite}}">

    </div>
    {%endif%}
    {%if marche.marque%}
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Caractéristiques</label>
        <input class="inp" type="text" disabled="true" value="{{marche.marque}}">

    </div>
    {%endif%}
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Rest a payer</label>
        <input class="inp" type="text" disabled="true" value="{{marche.rest_a_payer}}">

    </div>
    
</div>
</div>

 <div class="col-12" style="margin-left: 20px;">
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Description</label>
        <textarea class="inp" type="text" disabled="true" >
            {{marche.descripion}}
        </textarea>

    </div>
</div> 

   
     
    




<div class="row" style="margin-top: 15px;">
<div class="col-4">
    <label style="color: gray;align-items: center;">PVs</label>
    <div class="Form-group" style="margin-top: 15px;background:#f5f4f4"> 
    
    <ul>
        {%for pv in marche.pvs.all %}
        <li>{{pv.numero}}</li>
        {%empty%}
        <li>No pvs associé</li>
         {%endfor%}
    </ul>

    </div>
</div>
<div class="col-4">
    <label style="color: gray;align-items: center;">decompte</label>
    <div class="Form-group" style="margin-top: 15px;background:#f5f4f4"> 
    
    <ul>
       {%for decompte in decomptes %}
       <li><a href="{% url 'decompte_detail' decompte.pk %}" style="text-decoration: none;">{{decompte.numero}}</a> </li>
       {%empty%}
       <li>No decomptes associe</li>
         {%endfor%}
    </ul>

    </div>
</div>
<div class="col-4">
    <label style="color: gray;align-items: center;" >order de service</label>
    <div class="Form-group" style="margin-top: 15px;background:#f5f4f4 ;"> 
    
    <ul>
        {%for order in ordres_service %}
        <li><a href="{% url 'order_detail' order.pk %}" style="text-decoration: none;">{{order.numero}}</a></li>
        {%empty%}
        <li>No order d'service  associé</li>
         {%endfor%}
    </ul>

    </div>
</div>
<!--<div style="width: 20%;"><a href="#" class="btn btn-outline-success" >Mettre fin au marché</a> </div>-->
</div>










{% endblock %}