{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - Gestion des Marchés Publics{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
 <h1 style="font-size: 20px; align-items: center; color:gray;">Détails du Prestataire  {{prestataire.nom}}</h1>
    </div>
    <div class="col-6">
        
     <div class="btn-toolbar mb-2 mb-md-0" style="float: right;">
        <a href="{% url 'prestataire_list' %}" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i>
            Retour à la liste
        </a>
    </div>
    </div>
</div>
   
<div class="row">
<div class="col-12">
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Nom</label>
        <input class="inp" type="text" disabled="true" value="{{prestataire.nom}}">

    </div>
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Adresse </label>
        <input class="inp" type="text" disabled="true" value="{{prestataire.adresse}}">

    </div>
     <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Representant </label>
        <input class="inp" type="text" disabled="true" value="{{prestataire.representant}}">

    </div>
    
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Telephone </label>
        <input class="inp" type="text" disabled="true" value="{{prestataire.telephone}}">

    </div>
    
     
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Email </label>
        <input class="inp" type="text" disabled="true" value="{{prestataire.email}}">

    </div>

     <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Specialite </label>
        <input class="inp" type="text" disabled="true" value="{{prestataire.specialite}}">

    </div>


    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Numero Registre </label>
        <input class="inp" type="text" disabled="true" value="{{prestataire.numero_registre}}">

    </div>
    {%if prestataire.compte%}
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >compte </label>
        <input class="inp" type="text" disabled="true" value="{{prestataire.compte}}">

    </div>
    {%endif%}

     {%if prestataire.capital%}
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >compte </label>
        <input class="inp" type="text" disabled="true" value="{{prestataire.capital}}">

    </div>
    {%endif%}

     {%if prestataire.cnss%}
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >CNSS </label>
        <input class="inp" type="text" disabled="true" value="{{prestataire.cnss}}">

    </div>
    {%endif%}


     {%if prestataire.patente%}
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Patente </label>
        <input class="inp" type="text" disabled="true" value="{{prestataire.patente}}">

    </div>
    {%endif%}
   
    
    
    
    
    
</div>   


{% endblock %}