{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - Gestion des Marchés Publics{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
 <h1 style="font-size: 20px; align-items: center; color:gray;">Détails du PV {{pv.numero}}</h1>
    </div>
    <div class="col-6">
        
     <div class="btn-toolbar mb-2 mb-md-0" style="float: right;">
        <a href="{% url 'pv_list' %}" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i>
            Retour à la liste
        </a>
    </div>
    </div>
</div>
   
<div class="row">
<div class="col-12">
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Désignation</label>
        <input class="inp" type="text" disabled="true" value="{{pv.numero}}">

    </div>
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Objet </label>
        <input class="inp" type="text" disabled="true" value="{{pv.objet}}">

    </div>
    
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Type </label>
        <input class="inp" type="text" disabled="true" value="{{pv.type}}">

    </div>
    
     

    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Date PV </label>
        <input class="inp" type="date" disabled="true" value='{{pv.date_pv|date:"Y-m-d"}}'>

    </div>
   {%if pv.peroid_debut%}
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Peroid_debut </label>
        <input class="inp" type="date" disabled="true" value='{{pv.peroid_debut|date:"Y-m-d"}}'>

    </div>
    {%endif%}
     {%if pv.peroid_fin%}
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Peroid_fin </label>
        <input class="inp" type="date" disabled="true" value='{{pv.peroid_fin|date:"Y-m-d"}}'>

    </div>
    {%endif%}
    <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Marché associé </label>
        <input class="inp" type="text" disabled="true" value='{{pv.marche}}'>

    </div>
    <h4 class="mt-3">
      Signataires
    </h4>
    {%if pv.signataires.all%}
       <ul>
        {%for signataire in pv.signataires.all%}
         <li>
            {{signataire.nom}} ({{signataire.fonction}})
         </li>
         {%endfor%}
       </ul>
    {%else%}
    <p class="text-muted">Aucun signataire associé</p>
    {%endif%}


     {%if order.observation%}
     <div class="Form-group" style="margin-top: 15px;"> 
        <label class="labell" >Observation</label>
        <input class="inp" type="text" disabled="true" value="{{pv.observation}}">

    </div>

    {%endif%}    
    {% if order.fichier %}
    <div class="form-group" style="margin-top: 15px;">
        <label class="labell">Fichier</label><br>
        <a href="{{ pv.fichier.url }}" target="_blank" class="btn btn-outline-primary">
            Télécharger le fichier
        </a>
    </div>
{% endif %}
    
    
    
    
</div>   


{% endblock %}